<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DG_SON"
        tools:targetApi="31">
        <activity
            android:name=".tatlilarActivity"
            android:exported="false" />
        <activity
            android:name=".iceceklerActivity"
            android:exported="false" />
        <activity
            android:name=".corbalarActivity"
            android:exported="false" />
        <activity
            android:name=".fastFoodActivity"
            android:exported="false" />
        <activity
            android:name=".araOgunActivity"
            android:exported="false" />
        <activity
            android:name=".anaOgunActivity"
            android:exported="false" />

        <activity
            android:name=".KaloriBilgisiActivity"
            android:exported="false" />
        <activity
            android:name=".GunlukActivity"
            android:exported="false" />
        <activity
            android:name=".MenuBotActivity"
            android:exported="false" />
        <activity
            android:name=".KayitOlActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>